@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$grey: #adaeb5;
$darkGrey: #5c5f6c;
$lightGrey: #bebfc4;
$shadowGrey: #4c4f5a;
$brightBlue: #3c82f9;
$lightBlue: #a4b0c3;
$darkblue: #243d6f;
$transparantGrey: #F3F3F3;
$purple: #6200EE;
$lightPurple: #8576ED;
$mainfont: "Montserrat";

